.App {
  text-align: center;
  display: ;
  justify-content:;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.element{
  background: black;
  color: yellow;
  margin: 0 20%;
  width:;
}
.item{
  margin: 40px;
}
